@font-face {
  font-family: "Bebas Neue";
  src: local("BebasNeueRegular"),
    url("../fonts/BebasNeueRegular.woff2") format("woff2"),
    url("../fonts/BebasNeueRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}
.header {
  background-color: #635854;
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 4px solid #3596f5;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: auto;
}
.navbar-menu {
  display: flex;
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.navbar-item {
  margin-left: 40px;
  margin-right: 40px;
}
.navbar-link {
  color: #fff;
  font-size: 16px;
}
.navbar-contacts {
  text-align: right;
}
.navbar-text {
  display: block;
  color: #fff;
  margin-bottom: 4px;
  font-size: 14px;
}
.navbar-phone {
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: #fff;
}
.main {
  display: flex;
  max-width: 1280px;
  margin: auto;
  margin-top: 54px;
  margin-bottom: 99px;
}
.main-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  text-align: center;
  align-items: center;
  justify-content: space-around;
}
.home-image path {
  opacity: 0;
  cursor: pointer;
}
.home-image path:hover {
  opacity: 1;
}
.counter-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.counter-button {
  background-color: #fff;
  border: none;
  cursor: pointer;
}
.main-title {
  font-family: "Bebas Neue", sans-serif;
  font-weight: normal;
  font-size: 37px;
  line-height: 37px;
  color: #635854;
}
.counter {
  font-family: "Bebas Neue", sans-serif;
  font-size: 120px;
  color: #635854;
}
.button-primary {
  background: #3596f5;
  border-radius: 6px;
  color: #fff;
  border: none;
  padding: 16px 36px;
  cursor: pointer;
}
.footer {
  background: #d7d7d7;
  border-top: 4px solid #3596f5;
}
.footer-links {
  display: flex;
  align-items: center;
  width: 427px;
  justify-content: space-between;
}
.footer-down {
  display: flex;
  align-items: center;
  max-width: 1280px;
  margin: auto;
  padding: 50px 0 56px 0;
  justify-content: space-between;
}
.footer-order {
  display: flex;
  flex-direction: column;
}
.footer-social {
  display: flex;
  width: 125px;
  justify-content: space-between;
}
.footer-contacts {
  display: flex;
  width: 496px;
  justify-content: space-between;
}
.footer-text {
  font-size: 14px;
  color: #635854;
}
.footer-phone {
  font-size: 17px;
  color: #635854;
  font-weight: bold;
}
.footer-other {
  font-size: 16px;
  line-height: 19px;
  text-decoration-line: underline;
  color: #635854;
}
